<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Sample Page</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/customer/img/logo.png">
    <link rel="stylesheet" href="/beta/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <!-- sweetalert2 -->
<link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>

</head>
<body>
    <header class="headerNav">
        <div class="headerWrapper">
            <div class="logo-wrapper">
                <div class="header-logo">
                    <a class="logo" href="#main">C&amp;H <span>Cloud</span></a>
                </div>
                <!--./logo-->
                <div class="LoginWrapper dropdown dropleft">
                    <div class="login-info" data-toggle="dropdown">
                        <span><!--Login Info--><%=UserInfo.UserName%></span>
                        <i class="fas fa-user" style="margin-left:10px;font-size:20px;"></i>
                    </div>
                    <!--./login info -->
                    <div class="dropdown-menu">
                        <!--<a class="dropdown-item" href="#">Profile</a>-->
                        <a class="dropdown-item" id="LogoutBtn" href="#">Logout</a>
                    </div>
                    <!--./dropdown login info-->
                </div>
                <!--./logo header-->
            </div>
            <!--./first header-->
            <div class="header-menu-wrapper">
                <div class="select-wrapper dropdown">
                    <%if(UserInfo.sites.length != 0){%>
                    <div class="select" data-toggle="dropdown">
                        <!--SITE NAME--><%=UserInfo.sites[0].name%>
                        <i class="fas fa-chevron-down" style="float:right; padding:5px;"></i>
                    </div>
                    <%}%>
                    <!--./select-site-->
                    <div class="dropdown-menu" style="z-index:10000; width:229px;">
                        <!--
                        <a class="dropdown-item">SITE NAME</a>
                        <a class="dropdown-item">SITE NAME</a>
                        -->
                    </div>
                    <!--./drop down menu-->
                </div>
                <!--./select-wrapper-->
                <div class="menu-wrapper">
                    <div class="header-menu active">
                        Home
                    </div>
                    <!--./menu-->
                    <!--<div class="header-menu">
                        Manage Devices
                    </div>-->
                    <!--./menu-->
                    <!--<div class="header-menu">
                        MENU 3
                    </div>-->
                    <!--./menu-->
                    <div class="mobile-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                    <!--./mobile menu-->
                    <div class="question-info">
                        <i class="fas fa-question-circle" style="margin-right:15px;font-size:25px;"></i>
                    </div>
                    <!--./info-->
                </div>
            </div>
            <!--./header-menu-wrapper-->
        </div>
        <!--./menuWrapper-->
    </header>
    <!-- ./header -->
    <aside class="main-sidebar">
        <!--one menu -->
        <%if(UserInfo.sites.length != 0){%>
        <div class="side-menu">
            <div class="side-menu-item">
                <i class="fas fa-home" style="margin-right:5px;"></i>
                    <!--Site--><%=UserInfo.sites[0].name%>
                <a class="edit" href="#">
                    <i class="fas fa-pen"></i>
                </a>
            </div>
            <!--./side-menu-item-->
        </div>
        <!--./side-menu-->
        <%if(UserInfo.sites[0].plots.length != 0){%>
        <div class="side-menu treeItem-menu">
            <div class="side-menu-item">
                <i class="fas fa-layer-group" style="margin-right:15px;"></i>
                    <!--Plot--><%=UserInfo.sites[0].plots[0].PlotName%>
                <a class="edit" href="#">
                    <i class="fas fa-pen"></i>
                </a>
            </div>
            <!--./side-menu-item-->
        </div>
        <!--./side-menu-->
        <!--
        <ul class="treeItem-menu-item">
            <li class="device-list"><i class="fas fa-satellite-dish" style="margin-right:15px;"></i>Device</li>
        </ul>
        -->
        <%if(UserInfo.sites[0].plots[0].devices.length != 0){%>
        <ul class="treeItem-menu-item">
            <!--<li class="device-list"><i class="fas fa-satellite-dish" style="margin-right:15px;"></i>Device</li>-->
            <%for(var i = 0; i < UserInfo.sites[0].plots[0].devices.length; i++){%>
                <li class="device-list" name="<%=UserInfo.sites[0].plots[0].devices[i].name%>"><i class="fas fa-satellite-dish" style="margin-right:15px;"></i><%=UserInfo.sites[0].plots[0].devices[i].name%></li>
            <%}%>
        </ul>
        <%}%>
        <!-- ./device if check -->
        <%}%>
        <!-- ./plot if check -->
        <%}%>
        <!--./site if check -->
        <!--./side-menu-item-tree-menu-->
        <!--./one menu -->
    </aside>
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="content-header-wrapper">
                <div class="content-header">
                    <button class='btn menu-control' data-toggle="offcanvas" role="button"><i class="fas fa-angle-left"></i></button>
                    <div class='btn-group'>
                        <!--<button class="btn btn-outline-dark btn-sm" id="dashBoardSelect"><i class="fas fa-grip-horizontal" style="margin-right:10px;"></i>Dash Board</button>-->
                        <button class="btn btn-outline-dark btn-sm" id="MapSelect"><i class="fas fa-map-marker-alt" style="margin-right:10px;"></i>Map</button>
                        <!--<button class="btn btn-outline-dark btn-sm " id="ListSelect"><i class="fas fa-list" style="margin-right:10px;"></i>List</button>-->
                        <button class='btn btn-outline-dark btn-sm active' id="DetailSelect"><i class="fas fa-eye" style="margin-right:10px;"></i>Detail</button>
                    </div>
                </div>
            </div>
            <div class="content" style="overflow:scroll;">
                <div class="row">
                    
                    <%
                    if(UserInfo.sites.length != 0){
                    if(UserInfo.sites[0].plots.length != 0){
                    if(UserInfo.sites[0].plots[0].devices.length != 0){
                    for(var i = 0; i < UserInfo.sites[0].plots[0].devices.length;i++){%>
                    <div class="col-12">
                        <div class="panel">
                            <div class="row panel-header">
                                <div class="col-sm-4">
                                    <button class="panel-control">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                    <span class="panel-name"><%=UserInfo.sites[0].plots[0].devices[i].name%></span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel-type">
                                        <%=UserInfo.sites[0].plots[0].devices[i].DeviceType%>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button class="panel-control" style="float:right;">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <div class="panel-type">
                                        <span class="gps">Lat : <%=UserInfo.sites[0].plots[0].devices[i].Latitude%><br> Lon : <%=UserInfo.sites[0].plots[0].devices[i].Longitude%></span>
                                    </div>
                                </div>
                            </div>
                            <!--./panel-header-->
                            <div class="panel-body">
                                <div class="panel-body-control">
                                    <div class="row panel-control-items"style="padding-top: 20px;" >
                                        <div class='col-sm-12'>
                                                <label for="">날짜 : </label>
                                                <input type='text' class="col-sm-2 datePicker" id="<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>start" name="start">-<input type="text" class="col-sm-2 datePicker"id="<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>end" name="end">
                                                <button type='button' class="btn btn-outline-dark active" id="<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>RangeBtn">검색</button>
                                        </div>
                                    </div>
                                    <div class="row panel-control-items" style="padding-bottom: 20px;">
                                        <div class="col-sm-12">
                                            <label for="">차트 범위 (Y축) : </label>
                                            <input type='text' class="col-sm-2" id="<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>yMin" placeholder="최소값">-<input type="text" class="col-sm-2" id="<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>yMax" placeholder="최대값">
                                            <button type='button' class='btn btn-outline-dark active' id="<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>Btn">적용</button>
                                            <div class="panel-control-info"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--./control-panel-body-->
                                <div name="<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>"id="<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>" style="margin-top:20px;">
                                    <img style="height:100%;width:100%;">
                                </div>
                            </div>
                        </div>
                        
                        <!--./panel-->
                    </div>
                    <!--./col-12-->
                    <%}
                    }}}
                    %>
                  
                </div>
                <!--./row-->
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <!-- Icon -->
    <script src="https://kit.fontawesome.com/785affb790.js" crossorigin="anonymous"></script>
    <!-- apexcharts chart cdn -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- sweetalert2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
    <!-- Make Chart -->
    <script src="/static/chart/beta/make.apexchart.js"></script>
    <!-- Main Javascript -->
    <script src="/beta/js/index.js"></script>
    <script src="/static/camera/camera.js"></script>
    <!-- Date Picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    
    <script>
        $(function(){
            <%if(UserInfo.sites.length != 0){
                /** Need To For */
                if(UserInfo.sites[0].plots.length != 0){
                    /** Need To For */
                    if(UserInfo.sites[0].plots[0].devices.length != 0){
                        for(var i = 0; i < UserInfo.sites[0].plots[0].devices.length; i++){%>
                            /** Change Y Limit */
                            function <%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>ChangeChart(chart){
                                $("#<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>Btn").click(function(){
                                    let MinY = $("#<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>yMin").val();
                                    let MaxY = $("#<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>yMax").val();
                                    if(isNaN(parseFloat(MinY))){
                                        if(MinY == ""){
                                            return swal.fire({
                                                type:'warning',
                                                title:'최소값을 입력하세요'
                                            });
                                        }
                                        return swal.fire({
                                            type:'warning',
                                            title:'최소값은 숫자여야합니다.'
                                        });
                                    }
                                    if(isNaN(parseFloat(MaxY))){
                                        if(MaxY == ""){
                                            return swal.fire({
                                                type:'warning',
                                                title:'최대값을 입력하세요'
                                            });
                                        }
                                        return swal.fire({
                                            type:'warning',
                                            title:'최대값은 숫자여야합니다.'
                                        });
                                    }
                                    if(parseFloat(MinY)>parseFloat(MaxY)){
                                        return swal.fire({
                                            type:'warning',
                                            title:'최솟값이 최대값보다 크면, 안됩니다.'
                                        });
                                    }
                                    let data = {
                                        min:parseFloat(MinY),
                                        max:parseFloat(MaxY)
                                    };
                                    ChangeYMinMax(data, chart);
                                    console.log('get Min : ' + MinY + ", get Max : " + MaxY);
                                });
                            }
                            /** Change Date */
                            function <%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>DateSelector(chart, id, chartTitle){
                                $("#<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>RangeBtn").click(function(){
                                    let start = $("#<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>start").val();
                                    let end = $("#<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>end").val();
                                    console.log('click date start Date : ' + start + ", end Date : " + end + ", ecolog id : " + id, "chart Title : " + chartTitle);

                                });
                            }
                            /** Make Chart And Function Registe */
                            if('<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%>' === "dataTracker"){
                                /** DataTracker Chart */
                                let <%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>Chart = MakeAreaChart('<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>', '<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>');
                                console.log('DataTracker');
                                <%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>ChangeChart(<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>Chart);
                                <%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>DateSelector(<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>Chart,'<%=UserInfo.sites[0].plots[0].devices[i].id%>','<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>');
                            }else if('<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%>' === "ecolog"){
                                /** Ecolog Chart */
                                let <%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>Chart = MakeAreaChart('<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>', '<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>');
                                InputChartData(<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>Chart);
                                console.log('ecolog');
                                <%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>ChangeChart(<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>Chart);
                                <%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>DateSelector(<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>Chart,'<%=UserInfo.sites[0].plots[0].devices[i].id%>','<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%><%=UserInfo.sites[0].plots[0].devices[i].name%>');
                            }else if('<%=UserInfo.sites[0].plots[0].devices[i].DeviceType%>'=== "hikVision"){
                                /** HikVision Camera */
                                console.log('hikVision');
                            }
                        <%}
                    }
                }
            }%>
        });
    </script>
</body>
</html>