<!DOCTYPE html>
<html>
    <head>
        <% include ../../../../partials/admin/stylesheet.ejs %>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
       <div class="wrapper">
            <% include ../../../../partials/admin/header.ejs %>
            <div class="content-wrapper">
                <div class="content">
                   <div class="box" style="margin:auto; width:80%;">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class='fa fa-fw fa-inbox' style="margin-right:10ox;"></i>Site Detail</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <%if(SiteDetailInfo){%>
                                <div class="form-horizontal">
                                    <div class='form-group'>
                                        <label class="col-xs-2 control-label" for='siteName'>Site Name</label>
                                        <div class="col-xs-4">
                                            <input id="siteName" type="text" class='form-control' disabled value="<%=SiteDetailInfo.Name%>">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class='form-group'>
                                        <label for="PlotNumber" class='col-xs-2 control-label'>Plot Number</label>
                                        <div class="col-xs-4">
                                            <input id="PlotNumber" class="form-control" disabled value="<%=SiteDetailInfo.PlotNumber%>">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <%if(SiteDetailInfo.PlotDetailInfo){%>
                                        <%SiteDetailInfo.PlotDetailInfo.forEach((item)=>{%>
                                        <br>
                                            <div class="form-group">
                                                <label for="<%=item.PlotName%>" class="col-xs-2 control-label">Plot Name</label>
                                                <div class="col-xs-4">
                                                    <input id="<%=item.PlotName%>" class="form-control" disabled value="<%=item.PlotName%>">
                                                </div>
                                            </div>
                                            <%if(item.DeviceInfo){%>
                                                <%item.DeviceInfo.forEach((device)=>{%>
                                                    <div class="box box-primary" style="margin:auto; width:80%">
                                                        <div class="box-header">
                                                            <h3 class="box-title"><i class="fa fa-fw fa-hdd-o"></i><%=device.DeviceName%></h3>
                                                            <div class="box-tools pull-right">
                                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                            </div>
                                                        </div>
                                                        <div class="box-body">
                                                            <div class='form-group'>
                                                                <label for="<%=device.DeviceName%>" class="col-xs-2 control-label">Device Name</label>
                                                                <div class="col-xs-4">
                                                                    <input id="<%=device.DeviceName%>" class="form-control" disabled value="<%=device.DeviceName%>">
                                                                </div>
                                                            </div>
                                                            <!-- ./Device name -->
                                                            <div class="form-group">
                                                                <label for="<%=device.Type%>" class="col-xs-2 control-label">Device Type</label>
                                                                <div class="col-xs-4">
                                                                    <input id="<%=device.Type%>" class='form-control' disabled value="<%=device.Type%>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="box-footer">
                                                        
                                                        </div>
                                                    </div>
                                                <%})%>
                                            <%}%>
                                    <%});}%>
                                </div>
                                <!--./detail-group-->
                            <%}%>
                        </div>
                        <!--./box-body-->
                        <div class="box-footer clearfix">
                            <div class="pull-right">
                                <button class="btn btn-warning"><i class="fa fa-fw fa-pencil" style="margin-right:10px;"></i>Edit</button>
                            </div>
                        </div>
                   </div>
                   <!--./box-->
                </div>
                <!--/.content-->
            </div>
            <!-- /.content-wrapper-->
            <% include ../../../../partials/admin/footer.ejs %>
       </div>
       <!--/.wrapper-->
       <% include ../../../../partials/admin/footerScript.ejs %>
    </body>
  
</html>